<h1 class="current-category"><%= params[:category] %></h1>

<% if @movies.count == 0 %>
  <h1>There are currently no movies in this category</h1>
<% else %>  
  <% @movies.each do |movie| %>
    <a href="/movies/<%= movie.id %>">
      <%= image_tag movie.movie_img.url(:movie_index) %> <!-- movie_index corresponds to the size of book we want -->
    </a>
  <% end %>
<% end %> 